@import "./_colors.scss";


/* PROJECT CSS */
body{
  color: black;
}
html {
  background-color: white;
  text-decoration: none;
  overflow-x : hidden;
  //overflow-y: hidden;
  font-family: "Open Sans";
  font-weight: none;
  font-display: auto;
}
h1{
  font-family: 'Federant', cursive;
  font-size: 3.8rem;
  font-weight: lighter;
  font-display: block;
  color: $primary-color;
  word-spacing: 3px;
  margin: 0;
}
h2{
  font-family: 'Numans';
  font-weight: 300;
  font-size: 14px;
  color: $accent-color;
}
h3{
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Open Sans';
  font-weight: 800;
  font-size: 16px;
  color: $default;
}
h4 {
  margin: 0;
}
p{
  font-family: 'Numans';
  font-size: 12px;
}
button {
  margin-left: 80px;
  width: 180px;
  border: 2px solid $primary-color;
  padding: 10px;
  color: $primary-color;
  background-color: white;
  border-radius: 3px;

  &:hover{
    background-color: $primary-color;
    color: white;
    cursor: pointer; 
  }

  &:active{
    border: 2px solid $primary-color;
    color: $primary-color;
  }

  &:focus { outline: thin dotted; }
}
 

/* GLOBAL OBJECT CSS */
.container {
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fullscreen {
  width: 100vw;
  height: 100vh;
}
.flex-row-container{
  position: relative;
  display: flex;
  flex-direction: row;
}

.body{
  position: relative;
  top: -30px;
  padding-left: 80px;
  padding-right: 40px;
  display: flex;
  flex-direction: column;
}

// Media
.media {
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
}
.img-container {
  img{
    display: block;
    max-width: 100px;
    max-height: 100px;
    margin-right: 50px;
  }
}
.project-description {
  //
}

#footer {
  position: absolute;
  bottom: 80px;
}

#parallax_scene{
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: start;
}
#social_media{
  position: absolute;
  bottom: -50px;
  left: 40px;
}

// https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}