.container {
    position: absolute;
    top: 0;
    padding-top: 80px;
    width: 100%;
    text-align: center;
}

.link{
    padding-left: 30px;
    text-decoration: none;
    font-family: "Open Sans Regular";
    font-size: 14px;
    color: black;
}